$formWidth: 950;
.login_Sign {
    @include flex($justifyContent:inherit);
    flex-direction: row;
    & > div {
        height: 100%;
        min-height:660px;
        img {
            width: 100%;
            margin: -1px 0 0 -1px;
            @media (max-width:991px) {
                margin: 0;
            }
        }
        &.loginSign_right {
            max-width: 50%;
            @media (max-width:991px) {
                min-width: 100%;
            }
        }
        .loginSign_wraper {
            padding: 15px 30px;
        }
        @media (max-width:991px) {
            min-height:auto;
        }
    }
    h2 {
        border-color: transparent;
        color: $base-color;
        margin: 0;
        @media (max-width:991px) {
            font-size: 30px;
        }
    }
    h5 {
        font-size: 22px;
        color: lighten($black, 30);      
        .close {
            float: none;
            font-size: 20px;
            outline: none;
            font-weight: 500;
            color: $blue;
            text-decoration: underline;
            opacity: 1;
        }
    }
    form {
        margin-top: 15px;
    }
    label {
        margin-bottom: 2px;
        font-size: 18px;
    }
    input {
        height: 50px;
        border:2px solid $gray;
        border-radius: 3px;
        background-color: $gray;
        &:focus {
            border-color: $base-color;;
            outline-color:  $base-color;
            box-shadow: none;
            background-color: $gray;
        }
    }
    .form_logSignSubmit {
        @include oswald($textcolor:$white);
        padding: 8px 40px;
        border-radius: 30px;
        background-color: $base-color;
        font-size: 20px;
        margin:15px 0 30px 0;
        transition: $transititon;
        &:focus, &:hover {
            box-shadow: none;
            outline: none;
            background-color: $black;
        }
    }
}
.modal-dialog {
    max-width: 95%;
    width: $formWidth + px;
}
.modal-body {
    padding: 0;
}
.modal-content {
    border-radius: 0;
}
.modal {
    background-color:rgba($base-color, 0.5);
    &#loginForm {
        .modal-dialog {
            width: $formWidth / 2 + px;
        }
        .login_Sign {
            flex-direction: column;
        }
        .loginSign_right {
            max-width: 100%;
            @include flex;
            h2 {
                text-align: center;
                
            }
        }
    }
}